<template>
  <v-row justify="center">
    <v-skeleton-loader :loading="loading" type="date-picker">
      <v-dialog
        v-model="dialogDetail"
        max-width="600px"
        hide-overlay
        persistent
      >
        <v-card>
          <v-toolbar dark color="#588b8b">
            <v-btn icon dark @click="close()">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>
              <span class="headline"
                >Cliente-{{ dataDetail.code }}
                {{ dataDetail.name }}
              </span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    label="Nombre"
                    v-bind:value="dataDetail.name"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-bind:value="dataDetail.address"
                    label="Dirección"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-skeleton-loader>
  </v-row>
</template>

<script>
import axios from "axios";
export default {
  props: {
    dialogDetail: { type: Boolean, required: true },
    detailId: { type: Number, required: true },
  },
  data() {
    return {
      dataDetail: {},
      loading: false,
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    getDetail() {
      this.loading = true;
      axios
        .get("http://localhost:4000/provider/" + this.detailId)
        .then((response) => {
          //   console.log(JSON.stringify(response));
          this.dataDetail = response.data;
          console.log(this.dataDetail);
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },
  },
  mounted() {
    this.getDetail();
  },
};
</script>