<template>
  <div>
    <v-row justify="center">
      <v-dialog
        v-model="dialogDetail"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
        scrollable
      >
        <v-card tile>
          <v-toolbar dense dark color="#c8553d">
            <v-btn icon dark @click="close()">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Compra {{ dataDetail[0].code }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark text @click="dialogDetail = false"> Imprimir </v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-card-text>
            <v-list three-line subheader>
              <v-subheader>Encabezado del Recibo</v-subheader>
              <v-container>
                <v-card>
                  <v-list-item>
                    <v-list-item-content>
                      <v-row>
                        <v-col>
                          <v-list-item-title>Código de Compra</v-list-item-title>
                          <v-list-item-subtitle>{{
                            dataDetail[0].code
                          }}</v-list-item-subtitle>
                        </v-col>
                        <v-col>
                          <v-list-item-title>Fecha de Venta</v-list-item-title>
                          <v-list-item-subtitle>{{
                            dataDetail[0].purchase_date
                          }}</v-list-item-subtitle>
                        </v-col>
                        <v-col>
                          <v-list-item-title>Total</v-list-item-title>
                          <v-list-item-subtitle>{{
                            "Q." + dataDetail[0].total
                          }}</v-list-item-subtitle>
                        </v-col>
                      </v-row>
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
              </v-container>
              <v-subheader>Detalle Venta</v-subheader>
              <v-container>
                <v-card>
                  <v-list-item>
                    <v-list-item-content>
                      <v-row
                        v-for="(item, index) in dataDetail[0].detail"
                        :key="index"
                      >
                        <v-col cols="12" sm="6" md="3">
                          <v-list-item-subtitle>
                            <v-text-field
                              v-bind:value="item.inventory[0].name"
                              label="Producto "
                              readonly
                            ></v-text-field>
                          </v-list-item-subtitle>
                        </v-col>
                        <v-col cols="12" sm="6" md="3">
                          <v-list-item-subtitle>
                            <v-text-field
                              v-bind:value="item.quantity"
                              label="Cantidad "
                              readonly
                            ></v-text-field>
                          </v-list-item-subtitle>
                        </v-col>
                        <v-col cols="12" sm="6" md="3">
                          <v-list-item-subtitle>
                            <v-text-field
                              v-bind:value="item.price_out"
                              label="Precio "
                              readonly
                            ></v-text-field>
                          </v-list-item-subtitle>
                        </v-col>
                        <v-col cols="12" sm="6" md="3">
                          <v-list-item-subtitle>
                            <v-text-field
                              v-bind:value="item.subtotal"
                              label="Subtotal "
                              readonly
                            ></v-text-field>
                          </v-list-item-subtitle>
                        </v-col>
                      </v-row>
                      <v-col cols="12" sm="6" md="9">
                        <v-list-item-subtitle>
                          <p class="display-2 text-justify">Total</p>
                        </v-list-item-subtitle>
                      </v-col>
                      <v-col cols="12" sm="6" md="3">
                        <v-list-item-subtitle>
                          <v-text-field
                            v-bind:value="dataDetail[0].total"
                            label="Total "
                            readonly
                          ></v-text-field>
                        </v-list-item-subtitle>
                      </v-col>
                      <v-row> </v-row>
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
              </v-container>
            </v-list>
            <v-divider></v-divider>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
import axios from "axios";
export default {
  props: {
    dialogDetail: { type: Boolean, required: true },
    purchaseId: { type: Number, required: true },
  },
  data() {
    return {
      dataDetail: {},
      loading: false,
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    getDetail() {
      this.loading = true;
      this.dataDetail = {};
      axios
        .get("http://localhost:4000/purchase/" + this.purchaseId)
        .then((response) => {
          //   console.log(JSON.stringify(response));
          this.dataDetail = response.data.data;
          console.log(this.dataDetail);
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },
  },
  mounted() {
    this.getDetail();
  },
};
</script>