<!-- eslint-disable vue/no-use-v-if-with-v-for,vue/no-confusing-v-for-v-if -->
<template>
  <v-container justify-content>
    <v-card-title>
      <h1>Caja</h1>
      <v-spacer></v-spacer>
      <v-card
        class="mx-auto"
        max-width="344"
        min-width="30"
        outlined
        elevation="5"
      >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title class="headline mb-1"> 5000 </v-list-item-title>
            <v-list-item-subtitle>Saldo Inicial</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
      <v-card
        class="mx-auto"
        max-width="344"
        min-width="30"
        outlined
        elevation="5"
      >
        <v-list-item three-line>
          <v-list-item-content>
            <v-list-item-title class="headline mb-1"> 15000 </v-list-item-title>
            <v-list-item-subtitle>Saldo Actual</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-card-title>
    <br />
    <div class="">
      <v-btn color="#588b8b" class="ma-2 white--text" to="/categories">
        Historial de Caja
        <!-- <v-icon right dark> mdi-shape </v-icon> -->
      </v-btn>
      <v-btn color="#588b8b" class="ma-2 white--text" to="/brands">
        Gastos
        <!-- <v-icon right dark> mdi-marker-check</v-icon> -->
      </v-btn>
      <v-btn color="#588b8b" class="ma-2 white--text" to="/units">
        Ingresos
        <!-- <v-icon right dark> mdi-ruler </v-icon> -->
      </v-btn>
    </div>
    <v-divider inset></v-divider><br />
    <v-btn color="#c8553d" class="ma-2 white--text" to="/units">
      Cerrar Caja
      <!-- <v-icon right dark> mdi-ruler </v-icon> -->
    </v-btn>
    <v-row>
      <v-col>
        <v-simple-table fixed-header height="300px">
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">Ingresos</th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th>
                  <v-btn class="ma-2" @click="displayItem('sale')"
                    >Ventas</v-btn
                  >
                  <v-btn class="text-left" @click="displayItem('payment')"
                    >Abonos</v-btn
                  >
                </th>
              </tr>
            </thead>
              <tbody>
            <v-skeleton-loader :loading="loading" type="table">
                <tr>
                  <td v-if="length == 0">No hay datos</td>
                </tr>
                <tr v-for="item in items" :key="item.name">
                  <td>{{ item.code }}</td>
                  <td>{{ item.total }}</td>
                </tr>
            </v-skeleton-loader>
              </tbody>
          </template>
        </v-simple-table>
      </v-col>
      <v-col>
        <v-simple-table fixed-header height="300px">
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">Egresos</th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th>
                  <v-btn class="ma-2" @click="displayOut((enti = 'purchases'))"
                    >Compras</v-btn
                  >
                  <v-btn
                    class="text-left"
                    @click="displayOut((enti = 'expenses'))"
                    >Gastos</v-btn
                  >
                </th>
              </tr>
            </thead>
            <v-skeleton-loader :loading="loadingOut" type="table">
              <tbody>
                <tr v-for="item in outs" :key="item.name">
                  <td>{{ item.code }}</td>
                  <td>{{ item.total }}</td>
                </tr>
              </tbody>
            </v-skeleton-loader>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>
    <!-- <v-breadcrumbs divider="/"></v-breadcrumbs> -->
    <!-- <v-skeleton-loader :loading="loading" type="table"> </v-skeleton-loader> -->
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  name: "cash",
  data: () => {
    return {
      outs: [],
      items: [],
      loading: false,
      loadingOut: false,
      length: 0,
    };
  },
  methods: {
    async displayItem(enti) {
      this.loading = true;
      axios
        .get("http://localhost:4000/" + enti)
        .then((data) => {
          this.items = data.data;
          this.length = this.items.length;
          console.log(this.items.length);
          this.loading = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    async displayOut(enti) {
      this.loading = true;
      axios
        .get("http://localhost:4000/" + enti)
        .then((data) => {
          this.outs = data.data;
          this.length = this.outs.length;
          console.log(this.length);
          this.loading = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>