<template>
  <v-autocomplete
    v-model="value"
    :items="brands"
    item-text="name"
    item-value="id"
    dense
    label="Marca"
  ></v-autocomplete>
</template>
<script>
import axios from "axios";
export default {
  props: {
    value: { type: Number },
  },
  data: () => ({
    brands: [],
    value: null,
  }),

  methods: {
    getBrands() {
      axios.get("http://localhost:4000/brand").then((response) => {
        this.brands = response.data;
      });
    },
  },
  mounted() {
    this.getBrands();
  },
  watch: {
    value: function (val) {
      this.$emit("value", val);
    },
  },
};
</script>