<template>
  <v-autocomplete
    v-model="value"
    :items="categories"
    item-text="name"
    item-value="id"
    no-data-text="Agregar nueva categoría."
    dense
    label="Categoría"
    auto-select-first
  >
  </v-autocomplete>
</template>
<script>
import axios from "axios";
export default {
  props: {
    value: { type: Number },
  },
  data: () => ({
    categories: [],
    value: null,
  }),

  methods: {
    getCategories() {
      axios.get("http://localhost:4000/categories").then((response) => {
        this.categories = response.data;
      });
    },
  },
  mounted() {
    this.getCategories();
  },
  watch: {
    value: function (val) {
      console.log("value", val);
      this.$emit("value", val);
    },
  },
};
</script>