<template>
  <v-row>
    <v-col cols="12" sm="6" md="4">
      <v-autocomplete
        v-model="value"
        :items="products"
        item-text="name"
        item-value="id"
        label="Producto"
        return-object
      >
        <template slot="selection" slot-scope="data">
          <v-chip
            :selected="data.selected"
            close
            class="chip--select-multi"
            @input="data.parent.selectItem(data.item)"
          >
            {{ data.item.name }}
          </v-chip>
        </template>
      </v-autocomplete>
    </v-col>
    <v-col cols="12" sm="6" md="2">
      <v-text-field
        label="Cantidad"
        v-model="qty"
        type="number"
        :rules="rules"
      ></v-text-field>
    </v-col>
    <v-col cols="12" sm="6" md="2">
      <v-text-field label="Precio" v-model="price" readonly></v-text-field>
    </v-col>
    <v-col cols="12" sm="6" md="2">
      <v-text-field label="Subtotal" v-model="sub"></v-text-field>
    </v-col>

    <v-col cols="12" sm="6" md="2">
      <btn-toggle>
        <v-btn fab dark small color="#588b8b" @click="addDetail()">
          <v-icon dark> mdi-plus </v-icon>
        </v-btn>
      </btn-toggle>
    </v-col>
  </v-row>
</template>
<script>
import axios from "axios";
export default {
  data: () => ({
    products: [],
    value: null,
    stock: 0,
    price: 0,
    sub: 0,
    qty: 0,
    product: null,
    saleDetail: [],

    rules: [(v) => v < this.stock || this.stock + "en existencia"],
  }),

  methods: {
    getProducts() {
      axios.get("http://localhost:4000/product").then((response) => {
        this.products = response.data;
      });
    },
    addDetail() {
      var detail = {
        price_out: this.price,
        quantity: this.qty,
        subtotal: this.sub,
        inventory_id: this.product,
        product: this.product_name,
      };
      if (this.saleDetail.push(detail)) {
        console.log("detaiiil", this.saleDetail);
        this.$emit("clicked", this.saleDetail);
      }
      this.qty = 0;
      this.sub = 0;
      this.price = 0;
      this.value = null;
    },
  },
  mounted() {
    this.getProducts();
  },
  watch: {
    value: function (val) {
      this.product = val.id;
      this.product_name = val.name;
      this.price = val.price_out;
      this.sub = this.price.toFixed(2) * this.qty.toFixed(2);
      this.$emit("product", val);
    },
    qty: function (newVal) {
      this.qty = newVal;
      this.sub = this.price * this.qty;
      this.$emit("qty", this.qty);
      this.$emit("sub", this.sub);
    },
  },
};
</script>