<template>
  <v-container justify-content>
    <v-card-title>
      <h1>Productos</h1>
      <v-spacer></v-spacer>

      <v-btn class="my-2" large fab color="#588b8b" @click="displayForm()">
        <v-icon color="white">mdi-plus</v-icon>
      </v-btn>
    </v-card-title>
    <div class="">
      <v-btn
        :loading="dialog"
        :disabled="dialog"
        color="#ffd5c2"
        class="ma-2 dark--text"
        to="/categories"
      >
        Categorías
        <v-icon right dark> mdi-shape </v-icon>
      </v-btn>
      <v-btn
        :loading="dialog"
        color="#ffd5c2"
        class="ma-2 dark--text"
        to="/brands"
      >
        Marcas
        <v-icon right dark> mdi-marker-check</v-icon>
      </v-btn>
      <v-btn
        :loading="dialog"
        color="#ffd5c2"
        class="ma-2 dark--text"
        to="/units"
      >
        Unidades
        <v-icon right dark> mdi-ruler </v-icon>
      </v-btn>
    </div>
    <br />
    <v-skeleton-loader :loading="loading" type="table">
      <v-card>
        <v-data-table
          :headers="headers"
          :items="products"
          class="elevation-1"
          hide-default-footer
          disable-pagination
          disable-sort
        >
          <template v-slot:item.code="{ item }">
            <v-btn text color="primary" @click="displayItem(item.id)">{{
              item.code
            }}</v-btn>
          </template>
          <template v-slot:item.price_out="{ item }">
            <p v-if="item.price_out == null">---------</p>
            <p v-else>Q.{{ item.price_out }}</p>
          </template>
          <template v-slot:item.actions="{ item }">
            <!-- <v-icon color="green" small class="mr-2" @click="showItem(item)"
              >mdi-eye</v-icon
            > -->
            <v-icon color="blue" small class="mr-2" @click="editItem(item.id)"
              >mdi-pencil</v-icon
            >
            <v-icon
              color="#9F402D"
              small
              class="mr-2"
              @click="deleteItem(item.id)"
              >mdi-delete</v-icon
            >
          </template>
        </v-data-table>
        <create-product
          :dialog="dialog"
          @close="dialog = false"
        ></create-product>
        <detail-product
          v-if="detailId != 0"
          :detailId="detailId"
          :dialogDetail="dialogDetail"
          @close="(dialogDetail = false), (detailId = 0)"
        ></detail-product>
        <update-product
          v-if="detailId != 0"
          :detailId="detailId"
          :dialogUpdate="dialogUpdate"
          @close="(dialogUpdate = false), (detailId = 0)"
        ></update-product>
      </v-card>
    </v-skeleton-loader>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  components: {
    CreateProduct: () => import("@/components/forms/Producto"),
    DetailProduct: () => import("@/components/details/Product"),
    UpdateProduct: () => import("@/components/update/Product"),
  },
  name: "customerList",
  data: () => {
    return {
      dialog: false,
      dialogDetail: false,
      dialogUpdate: false,
      products: [],
      loading: false,
      detailId: 0,
      headers: [
        { text: "Código", value: "code" },
        { text: "Producto", value: "name" },
        { text: "Precio", value: "price_out" },
        { text: "Stock", value: "stock" },
        { text: "", value: "actions" },
      ],
    };
  },
  mounted() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      axios
        .get("http://localhost:4000/product")
        .then((data) => {
          this.products = data.data;
          console.log(this.products);
          this.loading = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    displayForm() {
      this.dialog = true;
    },
    displayItem(id) {
      this.dialogDetail = true;
      this.detailId = id;
      this.getList();
    },
    editItem(id) {
      this.dialogUpdate = true;
      this.detailId = id;
      this.getList();
    },
  },
};
</script>

