<template>
  <v-container justify-content>
    <v-card-title>
      <h1>Proveedores</h1>
      <v-spacer></v-spacer>

      <v-btn class="my-2" large fab color="#588b8b" @click="displayForm()">
        <v-icon color="white">mdi-plus</v-icon>
      </v-btn>
    </v-card-title>
    <v-breadcrumbs divider="/"></v-breadcrumbs>
    <v-skeleton-loader :loading="loading" type="table">
      <v-card>
        <v-data-table
          :headers="headers"
          :items="providers"
          class="elevation-1"
          hide-default-footer
          disable-pagination
          disable-sort
        >
          <template v-slot:item.code="{ item }">
            <v-btn text color="primary" @click="displayItem(item.id)">{{
              item.code
            }}</v-btn>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon color="blue" small class="mr-2" @click="editItem(item.id)"
              >mdi-pencil</v-icon
            >
            <v-icon
              color="#9F402D"
              small
              class="mr-2"
              @click="deleteItem(item.id)"
              >mdi-delete</v-icon
            >
          </template>
        </v-data-table>
        <create-provider
          :dialog="dialog"
          @close="dialog = false"
        ></create-provider>
        <show-provider
          v-if="detailId != 0"
          :detailId="detailId"
          :dialogDetail="dialogDetail"
          @close="(dialogDetail = false), (detailId = 0)"
        ></show-provider>
        <edit-provider
          v-if="providerId != 0"
          :providerId="providerId"
          :dialogUpdate="dialogUpdate"
          @close="(dialogUpdate = false), (providerId = 0)"
        ></edit-provider>
      </v-card>
    </v-skeleton-loader>
  </v-container>
</template>
<script>
import axios from "axios";
import swal from "sweetalert";
export default {
  components: {
    CreateProvider: () => import("@/components/forms/Provider"),
    ShowProvider: () => import("@/components/details/Provider"),
    EditProvider: () => import("@/components/update/Provider"),
  },
  name: "provider",
  data: () => {
    return {
      dialog: false,
      loading: false,
      dialogDetail: false,
      dialogUpdate: false,
      detailId: 0,
      providerId: 0,
      providers: [],
      headers: [
        { text: "Código", value: "code" },
        { text: "Nombre", value: "name" },
        { text: "Dirección", value: "address" },
        { text: "", value: "actions" },
      ],
    };
  },
  mounted() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      axios
        .get("http://localhost:4000/provider")
        .then((data) => {
          this.providers = data.data;
          this.loading = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    displayForm() {
      this.dialog = true;
    },
    displayItem(id) {
      this.dialogDetail = true;
      this.detailId = id;
    },
    editItem(id) {
      this.dialogUpdate = true;
      this.providerId = id;
    },
    async deleteItem(id) {
      await swal({
        titel: "¿Está seguro?",
        text: "Se eliminará este cliente de su aplicación",
        icon: "warning",
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            console.log(willDelete);
            return axios.patch("http://localhost:4000/provider/" + id);
          }
        })
        .then((result) => {
          if (result.status == 200) {
            swal("Eliminado!", "El cliente ha sido eliminado!", "success");
          }
        })
        .catch((err) => {
          console.log(err);
        });
      this.getList();
    },
  },
  watch: {
    dialog: function () {
      this.getList();
    },
    dialogUpdate: function () {
      this.getList();
    },
  },
};
</script>