<template>
  <v-container justify-content>
    <v-card-title>
      <v-btn text to="/products"> <v-icon >mdi-arrow-left </v-icon> </v-btn>
      <h1>Categorías</h1>
      <v-spacer></v-spacer>

      <v-btn class="my-2" large fab color="#588b8b" @click="displayForm()">
        <v-icon color="white">mdi-plus</v-icon>
      </v-btn>
    </v-card-title>
    <v-breadcrumbs divider="/"></v-breadcrumbs>
    <v-skeleton-loader :loading="loading" type="table">
      <v-card>
        <v-data-table
          :headers="headers"
          :items="categories"
          class="elevation-1"
          hide-default-footer
          disable-pagination
          disable-sort
        >
          <template v-slot:item.actions="{ item }">
            <v-icon color="blue" small class="mr-2" @click="editItem(item.id)"
              >mdi-pencil</v-icon
            >
            <v-icon
              color="#9F402D"
              small
              class="mr-2"
              @click="deleteItem(item.id)"
              >mdi-delete</v-icon
            >
          </template>
        </v-data-table>
        <create-category
          :dialog="dialog"
          @close="dialog = false"
        ></create-category>
        <update-category
          v-if="categoryId != 0"
          :categoryId="categoryId"
          :dialogUpdate="dialogUpdate"
          @close="(dialogUpdate = false), (categoryId = 0)"
        ></update-category>
      </v-card>
    </v-skeleton-loader>
  </v-container>
</template>
<script>
import axios from "axios";
import swal from "sweetalert";
export default {
  components: {
    CreateCategory: () => import("@/components/forms/Category"),
    UpdateCategory: () => import("@/components/update/Category"),
  },
  name: "category",
  data: () => {
    return {
      dialog: false,
      dialogUpdate: false,
      loading: false,
      categories: [],
      categoryId: 0,
      headers: [
        { text: "Nombre", value: "name" },
        { text: "Descripción", value: "description" },
        { text: "", value: "actions" },
      ],
    };
  },
  mounted() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      axios
        .get("http://localhost:4000/categories")
        .then((data) => {
          this.categories = data.data;
          this.loading = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    displayForm() {
      this.dialog = true;
    },
    editItem(id) {
      this.dialogUpdate = true;
      this.categoryId = id;
      this.getList();
    },
    async deleteItem(id) {
      await swal({
        title: "¿Está seguro?",
        text: "Se eliminará esta categoría",
        icon: "warning",
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            return axios.patch("http://localhost:4000/categories/" + id);
          }
        })
        .then((result) => {
          if (result.status == 200) {
            swal("Eliminado!", "La categoría fue eliminada", "success");
          }
        })
        .catch((err) => {
          console.log(err);
        });
      this.getList();
    },
  },
  watch: {
    dialog: function (newValue) {
      this.$emit("value", newValue);
      this.getList();
    },
    dialogUpdate: function (newValue) {
      this.$emit("value", newValue);
      this.getList();
    },
  },
};
</script>