    <template>
  <v-card>
    <v-navigation-drawer
      app
      color="deep-orange darken-4"
      permanent
      expand-on-hover
    >
      <v-list>
        <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-img
              src="https://randomuser.me/api/portraits/women/85.jpg"
            ></v-img>
          </v-list-item-avatar>
        </v-list-item>

        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="title">Sandra Adams</v-list-item-title>
            <v-list-item-subtitle>sandra_a88@gmail.com</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list nav dense>
        <v-list-item link>
          <v-list-item-icon>
            <v-img src="icons/home.png" width="15px"></v-img>
            <!-- <v-icon color="blue">mdi-home</v-icon> -->
          </v-list-item-icon>
          <v-list-item-title>Inicio</v-list-item-title>
        </v-list-item>
        <v-list-item link to="/sales">
          <v-list-item-icon>
            <v-img  src="icons/cart.webp" width="15px"></v-img>
            <!-- <v-icon color="green">mdi-cart</v-icon> -->
          </v-list-item-icon>
          <v-list-item-title>Ventas</v-list-item-title>
        </v-list-item>
        <v-list-item link to="/products">
          <v-list-item-icon>
            <v-img  src="icons/products.png" width="15px"></v-img>
            <!-- <v-icon color="grey">mdi-shopping</v-icon> -->
          </v-list-item-icon>
          <v-list-item-title>Productos</v-list-item-title>
        </v-list-item>
        <v-list-item link>
          <v-list-item-icon>
            <v-img  src="icons/inventory.png" width="15px"></v-img>
            <!-- <v-icon color="yellow">mdi-inbox-multiple</v-icon> -->
          </v-list-item-icon>
          <v-list-item-title>Inventario</v-list-item-title>
        </v-list-item>
        <v-list-item link>
          <v-list-item-icon>
            <!-- <v-icon color="purple">mdi-account-cash</v-icon> -->
            <v-img  src="icons/credit.png" width="15px"></v-img>
          </v-list-item-icon>
          <v-list-item-title>Créditos</v-list-item-title>
        </v-list-item>
        <v-list-item  to="/customers"  link>
          <v-list-item-icon>
            <v-img  src="icons/customers.webp" width="15px"></v-img>
            <!-- <v-icon color="grey">mdi-tooltip-account</v-icon> -->
          </v-list-item-icon>
          <v-list-item-title>Clientes</v-list-item-title>
        </v-list-item>
        <v-list-item link to=/providers>
          <v-list-item-icon>
            <!-- <v-icon color="grey">mdi-account-supervisor-circle</v-icon> -->
            <v-img  src="icons/providers.png" width="15px"></v-img>
          </v-list-item-icon>
          <v-list-item-title>Proveedores</v-list-item-title>
        </v-list-item>
        <v-list-item link to="/cash">
          <v-list-item-icon>
            <!-- <v-icon color="grey">mdi-cash-register</v-icon> -->
            <v-img  src="icons/caja.png" width="15px"></v-img>
          </v-list-item-icon>
          <v-list-item-title>Caja</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>



<script>
export default {
  name: "AppAside",
  data() {
    return {
      drawer: true,
    };
  },
};
</script>