<template>
  <v-app id="inspire">
    <aside-field v-model="drawer"></aside-field>
    <main-view />

    <v-app-bar app color="deep-orange darken-4" dense dark>
      <v-toolbar-title>ALPEN</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-menu left bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item v-for="n in 5" :key="n" @click="() => {}">
            <v-list-item-title>Option {{ n }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-footer color="deep-orange darken-4" app>
      <span class="white--text">&copy; 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  components: {
    MainView: () => import("@/components/View"),
    AsideField: () => import("@/components/layouts/Main"),
  },
  props: {
    source: String,
  },
  data: () => ({
    drawer: null,
  }),
  methods: {
    logout() {
      this.$store.dispatch("auth/logout").then(
        () => {
          this.$router.push("/auth/login");
          location.reload();
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
};
</script>
