<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogUpdate"
      max-width="600px"
      hide-overlay
      persistent
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Actualizar Producto </span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="name"
                  label="Producto*"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="price_out"
                  label="Precio"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="stock_min"
                  label="Stock Minimo"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="stock_max"
                  label="Stock Maximo"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <field-category
                  @value="(val) => (category = val)"
                  :value="category_id"
                ></field-category>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <field-unit
                  @value="(val) => (unit = val)"
                  :value="unit_id"
                ></field-unit>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <field-brand
                  @value="(val) => (brand = val)"
                  :value="brand_id"
                ></field-brand>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  class="mx-2"
                  label="Descripción"
                  rows="2"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
          <small>*Indica si el campo es obligatorio</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close()"> Close </v-btn>
          <v-btn color="blue darken-1" text @click="updateProvider()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";
export default {
  components: {
    fieldCategory: () => import("@/components/fields/Categories"),
    fieldUnit: () => import("@/components/fields/Unit"),
    fieldBrand: () => import("@/components/fields/Brand"),
  },
  props: {
    dialogUpdate: { type: Boolean, required: true },
    detailId: { type: Number, required: true },
  },
  data() {
    return {
      name: "",
      stock_max: "",
      stock_min: "",
      description: "",
      price_out: "",
      is_active: "",
      category: null,
      category_id: null,
      unit: "",
      unit_id: "",
      brand: "",
      brand_id: "",
    };
  },
  mounted() {
    this.getProvider();
  },
  methods: {
    close() {
      this.$emit("close");
    },
    getProvider() {
      axios
        .get("http://localhost:4000/product/" + this.detailId)
        .then((response) => {
          console.log(response.data.data[0].unit[0].id);
          this.name = response.data.data[0].name;
          this.stock_max = response.data.data[0].stock_max;
          this.stock_min = response.data.data[0].stock_min;
          this.description = response.data.data[0].description;
          this.price_out = response.data.data[0].price_out;
          this.category_id = response.data.data[0].category[0].id;
          this.brand_id = response.data.data[0].brand[0].id;

          if (response.data.data[0].unit[0].id == undefined) {
            this.unit_id = 0;
          } else {
            this.unit_id = response.data.data[0].unit[0].id;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    updateProvider() {
      //   this.close();
      var product = {
        name: this.name,
        stock_min: this.stock_min,
        stock_max: this.stock_max,
        description: this.description,
        price_out: this.price_out,
        category_id: this.category,
        unit_id: this.unit,
        brand_id: this.brand,
      };

      axios
        .put("http://localhost:4000/product/" + this.detailId, product)
        .then(function (response) {
          console.log(response.status);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  watch: {
    category_id: function (val) {
      this.category = val;
    },
    brand_id: function (val) {
      this.unit = val;
      console.log("brand", val);
    },
    unit_id: function (val) {
      this.brand = val;
    },
  },
};
</script>