<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogUpdate"
      max-width="600px"
      hide-overlay
      persistent
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Actualizar Cliente </span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="name"
                  label="Nombres*"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="address"
                  label="Dirección"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*Indica si el campo es obligatorio</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close()"> Close </v-btn>
          <v-btn color="blue darken-1" text @click="updateProvider()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";
export default {
  props: {
    dialogUpdate: { type: Boolean, required: true },
    providerId: { type: Number, required: true },
  },
  data() {
    return {
      name: "",
      address: "",
    };
  },
  mounted() {
    this.getProvider();
  },
  methods: {
    close() {
      this.$emit("close");
    },
    getProvider() {
      axios
        .get("http://localhost:4000/provider/" + this.providerId)
        .then((response) => {
          this.name = response.data.name;
          this.address = response.data.address;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    updateProvider() {
      //   this.close();
      var provider = {
        name: this.name,
        address: this.address,
      };

      axios
        .put("http://localhost:4000/provider/" + this.providerId, provider)
        .then(function (response) {
          console.log(response.status);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>