<template>
  <v-container justify-content>
    <v-card-title>
      <h1>CLIENTES</h1>
      <v-spacer></v-spacer>

      <v-btn class="my-2" large fab color="#588b8b" @click="displayForm()">
        <v-icon color="white">mdi-plus</v-icon>
      </v-btn>
    </v-card-title>
    <v-breadcrumbs :items="items" divider="/"></v-breadcrumbs>
    <v-skeleton-loader :loading="loading" type="table">
      <v-card>
        <v-data-table
          :headers="headers"
          :items="customers"
          class="elevation-1"
          hide-default-footer
          disable-pagination
          disable-sort
        >
          <template v-slot:item.code="{ item }">
            <v-btn text color="primary" @click="displayItem(item.id)">{{
              item.code
            }}</v-btn>
          </template>
          <template v-slot:item.first_name="{ item }">
            {{ item.first_name + " " + item.last_name }}
          </template>
          <template v-slot:item.actions="{ item }">
            <!-- <v-icon color="green" small class="mr-2" @click="showItem(item)"
              >mdi-eye</v-icon
            > -->
            <v-icon color="blue" small class="mr-2" @click="editItem(item.id)"
              >mdi-pencil</v-icon
            >
            <v-icon
              color="#9F402D"
              small
              class="mr-2"
              @click="deleteItem(item.id)"
              >mdi-delete</v-icon
            >
          </template>
        </v-data-table>
        <create-customer
          :dialog="dialog"
          @close="dialog = false"
        ></create-customer>
        <detail-customer
          v-if="detailId != 0"
          :detailId="detailId"
          :dialogDetail="dialogDetail"
          @close="(dialogDetail = false), (detailId = 0)"
        ></detail-customer>
        <edit-customer
          v-if="customerId != 0"
          :customerId="customerId"
          :dialogUpdate="dialogUpdate"
          @close="(dialogUpdate = false), (customerId = 0)"
        ></edit-customer>
      </v-card>
    </v-skeleton-loader>
  </v-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
export default {
  components: {
    CreateCustomer: () => import("@/components/forms/Customer"),
    DetailCustomer: () => import("@/components/forms/DetailCustomer"),
    EditCustomer: () => import("@/components/forms/EditCustomer"),
  },
  name: "customerList",
  data: () => {
    return {
      dialog: false,
      dialogDetail: false,
      dialogUpdate: false,
      detailId: 0,
      customerId: 0,
      customers: [],
      loading: false,
      headers: [
        { text: "Código", value: "code" },
        { text: "Nombres", value: "first_name" },
        { text: "Limite", value: "limite" },
        { text: "Dirección", value: "home_address" },
        { text: "", value: "actions" },
      ],
      items: [
        {
          text: "Clientes",
          disabled: true,
          href: "breadcrumbs_dashboard",
        },
      ],
    };
  },
  mounted() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      axios
        .get("http://localhost:4000/custom")
        .then((data) => {
          this.customers = data.data;
          this.loading = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    displayForm() {
      this.dialog = true;
    },
    displayItem(id) {
      this.dialogDetail = true;
      this.detailId = id;
    },
    editItem(id) {
      this.dialogUpdate = true;
      this.customerId = id;
    },
    async deleteItem(id) {
      console.log(id);
      await swal({
        title: "¿Está seguro?",
        text: "¿Está seguro de eliminar este cliente?",
        icon: "warning",
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            console.log(willDelete);
            return axios.patch("http://localhost:4000/custom/" + id);
          }
        })
        .then((result) => {
          if (result.status == 200) {
            swal("Eliminado!", "El cliente ha sido eliminado!", "success");
          }
        })
        .catch((err) => {
          console.log(err);
        });
      this.getList();
    },
  },
  watch: {
    dialog: function (newValue) {
      this.$emit("value", newValue);
      this.getList();
    },
    dialogUpdate: function (newValue) {
      this.$emit("value", newValue);
      this.getList();
    },
  },
};
</script>