<template>
  <v-container justify-content>
    <v-card-title>
      <h1>Inventario</h1>
      <v-spacer></v-spacer>
    </v-card-title>
    <v-breadcrumbs divider="/"></v-breadcrumbs>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="344" outlined>
          <v-list-item three-line>
            <v-list-item-content> </v-list-item-content>

            <v-btn rounded text class="mx-2" fab dark large color="purple"  to="/inventory/purchases">
              <v-img src="icons/purchases.png" width="15px"></v-img>
            </v-btn>
            <v-list-item-title class="headline mb-1">
              Compras
            </v-list-item-title>
          </v-list-item>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mx-auto" max-width="344" outlined>
          <v-list-item three-line>
            <v-list-item-content> </v-list-item-content>

            <v-btn rounded text class="mx-2" fab dark large color="purple">
              <v-img src="icons/devolution.png" width="15px"></v-img>
            </v-btn>
            <v-list-item-title class="headline mb-1">
              Devoluciones
            </v-list-item-title>
          </v-list-item>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mx-auto" max-width="344" outlined>
          <v-list-item three-line>
            <v-list-item-content> </v-list-item-content>

            <v-btn rounded text class="mx-2" fab dark large color="purple">
              <v-img src="icons/products.png" width="15px"></v-img>
            </v-btn>
            <v-list-item-title class="headline mb-1">
              Productos
            </v-list-item-title>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
