<template>
  <v-container justify-content>
    <v-card-title>
      <h1>Compras</h1>
      <v-spacer></v-spacer>

      <v-btn class="my-2" large fab color="#588b8b" @click="displayForm()">
        <v-icon color="white">mdi-plus</v-icon>
      </v-btn>
    </v-card-title>
    <v-skeleton-loader :loading="loading" type="table">
      <v-card>
        <v-data-table
          :headers="headers"
          :items="purchases"
          class="elevation-1"
          hide-default-footer
          disable-pagination
          disable-sort
        >
          <template v-slot:item.code="{ item }"
            >-
            <v-btn text color="primary" @click="displayItem(item.id)">{{
              item.code
            }}</v-btn>
          </template>
          <template v-slot:item.date="{ item }"
            >{{ new Date(item.purchase_date).toISOString().slice(0, 10) }}
          </template>
          <template v-slot:item.actions="{ item }">
            <!-- <v-icon color="green" small class="mr-2" @click="showItem(item)"
              >mdi-eye</v-icon
            > -->
            <v-icon color="blue" small class="mr-2" @click="editItem(item.id)"
              >mdi-pencil</v-icon
            >
            <v-icon
              color="#9F402D"
              small
              class="mr-2"
              @click="deleteItem(item.id)"
              >mdi-delete</v-icon
            >
          </template>
        </v-data-table>
      </v-card>
      <create-sale :dialog="dialog" @close="dialog = false"></create-sale>
      <detail-purchase
        v-if="purchaseId != 0"
        :purchaseId="purchaseId"
        :dialogDetail="dialogDetail"
        @close="purchaseId = 0"
      ></detail-purchase>
    </v-skeleton-loader>
  </v-container>
</template>

<script>
import axios from "axios";
// import swal from "sweetalert";
export default {
  components: {
    CreateSale: () => import("@/components/forms/Purchase"),
    DetailPurchase: () => import("@/components/details/Purchase"),
    // EditCustomer: () => import("@/components/forms/EditCustomer"),
  },
  name: "saleList",
  data: () => {
    return {
      dialog: false,
      dialogDetail: 0,
      purchaseId: 0,
      purchases: [],
      loading: false,
      headers: [
        { text: "Código", value: "code" },
        { text: "Fecha", value: "date" },
        { text: "Total", value: "total" },
        { text: "", value: "actions" },
      ],
    };
  },
  mounted() {
    this.getList();
  },
  methods: {
    formatDate(newDate) {
      var todayDate = new Date(newDate).toISOString().slice(0, 10);
      return todayDate;
    },
    async getList() {
      this.loading = true;
      axios
        .get("http://localhost:4000/purchase")
        .then((data) => {
          this.purchases = data.data;
          this.loading = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    displayForm() {
      this.dialog = true;
    },
    displayItem(id) {
      this.dialogDetail = true;
      this.purchaseId = id;
    },
  },
};
</script>