<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogUpdate"
      max-width="600px"
      hide-overlay
      persistent
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Actualizar Cliente </span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="first_name"
                  label="Nombres*"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="last_name"
                  label="Apellidos*"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Fecha de Nacimiento"
                  v-model="bdate"
                  type="date"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Dirección"
                  v-model="address"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field label="CUI" v-model="cui"></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field label="NIT" v-model="nit"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*Indica si el campo es obligatorio</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close()"> Close </v-btn>
          <v-btn color="blue darken-1" text @click="updateCustomer()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";
export default {
  props: {
    dialogUpdate: { type: Boolean, required: true },
    customerId: { type: Number, required: true },
  },
  data() {
    return {
      first_name: "",
      last_name: "",
      bdate: "",
      cui: "",
      nit: "",
      limite: 0,
      address: "",
    };
  },
  mounted() {
    this.getCustomer();
  },
  methods: {
    close() {
      this.$emit("close");
    },
    formatDate(newDate) {
      var todayDate = new Date(newDate).toISOString().slice(0, 10);
      return todayDate;
    },
    getCustomer() {
      axios
        .get("http://localhost:4000/custom/" + this.customerId)
        .then((response) => {
          this.first_name = response.data.first_name;
          this.last_name = response.data.last_name;
          this.bdate = this.formatDate(response.data.birthdate);
          this.address = response.data.home_address;
          this.cui = response.data.cui;
          this.nit = response.data.nit;
          this.limite = response.data.limite;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    updateCustomer() {
    //   this.close();
      var customer = {
        first_name: this.first_name,
        last_name: this.last_name,
        birthdate: this.bdate,
        home_address: this.address,
        cui: this.cui,
        nit: this.nit,
        limite: this.limite,
      };

      axios
        .put("http://localhost:4000/custom/" + this.customerId, customer)
        .then(function (response) {
          console.log(response.status);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>