<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      max-width="600px"
      hide-overlay
      persistent
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Nuevo Producto </span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="name"
                  label="Producto*"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="stock_min"
                  label="Stock minimo*"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  label="Stock Máximo"
                  v-model="stock_max"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <field-category
                  @value="(val) => (category = val)"
                ></field-category>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <field-unit @value="(val) => (unit = val)"></field-unit>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <field-brand @value="(val) => (brand = val)"></field-brand>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  class="mx-2"
                  label="Descripción"
                  rows="2"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
          <small>*Indica si el campo es obligatorio</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close()"> Close </v-btn>
          <v-btn color="blue darken-1" text @click="saveProduct()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";
export default {
  components: {
    fieldCategory: () => import("@/components/fields/Categories"),
    fieldUnit: () => import("@/components/fields/Unit"),
    fieldBrand: () => import("@/components/fields/Brand"),
  },
  props: {
    dialog: { type: Boolean, required: true },
  },
  data() {
    return {
      name: "",
      stock_min: 0,
      stock_max: 0,
      description: "",
      unit: null,
      brand: null,
      category: null,
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },

    saveProduct() {
      console.log(this.category);
      this.close();
      var product = {
        name: this.name,
        stock_min: this.stock_min,
        stock_max: this.stock_max,
        description: this.description,
        unit_id: this.unit,
        brand_id: this.brand,
        category_id: this.category,
        stock: 0,
      };

      axios
        .post("http://localhost:4000/product", product)
        .then(function (response) {
          console.log(response.status);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>