<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      max-width="600px"
      hide-overlay
      persistent
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Registrar Proveedor </span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="name"
                  label="Nombre*"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  v-model="address"
                  label="Dirección"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*Indica si el campo es obligatorio</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close()"> Cerrar </v-btn>
          <v-btn color="blue darken-1" text @click="saveProvider()">
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";
export default {
  props: {
    dialog: { type: Boolean, required: true },
  },
  data() {
    return {
      name: "",
      address: "",
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },

    saveProvider() {
      this.close();
      var provider = {
        name: this.name,
        address: this.address,
      };

      axios
        .post("http://localhost:4000/provider", provider)
        .then(function (response) {
          console.log(response.status);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>