<template>
  <v-row justify="center">
    <v-dialog v-model="dialogConfirm" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Datos Sobre la Venta</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field
                  label="Monto*"
                  v-model="amount"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="5">
                <field-provider
                  @value="(val) => (provider = val)"
                ></field-provider>
              </v-col>
            </v-row>
            <v-divider></v-divider>

            <v-row>
              <v-text-field
                label="Total"
                v-bind:value="detail.total"
                readonly
              ></v-text-field>
              <v-col cols="12" sm="6" md="6"></v-col>
              <v-text-field
                label="Monto"
                v-bind:value="amount"
                readonly
              ></v-text-field>
              <v-col cols="12" sm="6" md="6"></v-col>
              <v-text-field
                label="Cambio"
                v-model="cambio"
                readonly
              ></v-text-field>
              <v-col cols="12" sm="6" md="6"></v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogConfirm = false">
            Close
          </v-btn>
          <v-btn color="blue darken-1" text @click="purchase()"> Vender! </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <create-customer :dialog="dialog" @close="dialog = false"></create-customer>
  </v-row>
</template>
<script>
import axios from "axios";
import swal from "sweetalert";
export default {
  components: {
    CreateCustomer: () => import("@/components/forms/Customer"),
    fieldProvider: () => import("@/components/fields/Provider"),
  },
  props: {
    dialogConfirm: { type: Boolean, required: true },
    detail: { type: Array, required: true },
  },
  data() {
    return {
      receiptType: [],
      customers: [],
      select: "",
      dialog: false,
      amount: 0,
      cambio: 0,
      type: "",
      provider: null,
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    async purchase() {
      var dtl = [];
      for (let index = 0; index < this.detail.length; index++) {
        var dtle = {
          inventory_id: this.detail[index].inventory_id,
          price_out: this.detail[index].price_out,
          quantity: this.detail[index].quantity,
          subtotal: this.detail[index].subtotal,
        };
        dtl.push(dtle);
      }
      var purch = [
        {
          total: this.detail.total,
          receipt_type_id: this.type,
          provider_id: this.provider,
        },
        dtl,
      ];
      console.log(purch);
      await swal({
        title: "¿Vender?",
        button: {
          text: "VENDER!",
        },
      })
        .then((willCreated) => {
          if (willCreated) {
            return axios({
              method: "post",
              url: "http://localhost:4000/purchase/",
              data: purch,
            });
          }
        })
        .then((result) => {
          if (result.status == 200) {
            swal("Vendido!", "Venta Exitosa!", "success");
          }
        })
        .catch((err) => {
          console.log(err);
        });
      this.dialogConfirm = false;
      this.$router.push("/inventory/purchases");
    },
  },
  watch: {
    amount: function (val) {
      this.cambio = val - this.detail.total;
    },
    type: function (val) {
      this.type = val;
    },
  },
};
</script>