<template>
  <div>
    <v-row justify="center">
      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
        scrollable
      >
        <v-card tile>
          <v-toolbar dense dark color="#c8553d">
            <v-btn icon dark @click="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Venta </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark text @click="dialog = false"> Imprimir </v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-card-text>
            <v-list three-line subheader>
              <v-subheader>Agregar Productos</v-subheader>
              <v-container>
                <v-card>
                  <v-row justify="end">
                    <v-col cols="12" sm="6" md="2">
                      <p class="display-2 text-justify">Total</p>
                    </v-col>
                    <v-col cols="12" sm="6" md="2">
                      <v-text-field
                        v-bind:value="total"
                        readonly
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-list-item>
                    <v-list-item-content>
                      <v-row>
                        <v-col cols="12" sm="12" md="12">
                          <field-product
                            @value="(val) => (product = val)"
                            @qty="(val) => (qut = val)"
                            @sub="(val) => (sub = val)"
                            @clicked="displayDetail"
                          ></field-product>
                        </v-col>
                      </v-row>
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
              </v-container>
              <v-subheader>Detalle Venta</v-subheader>
              <v-container>
                <v-card>
                  <v-list-item>
                    <v-list-item-content>
                      <v-row v-for="(item, index) in saleDetail" :key="index">
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field
                            v-bind:value="item.product"
                            label="Producto "
                            readonly
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="2">
                          <v-text-field
                            v-bind:value="item.quantity"
                            label="Cantidad "
                            readonly
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="2">
                          <v-text-field
                            v-bind:value="item.price_out"
                            label="Precio "
                            readonly
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="2">
                          <v-text-field
                            v-bind:value="item.subtotal"
                            label="Subtotal "
                            readonly
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="2">
                          <v-btn
                            class="mx-2"
                            type="reset"
                            fab
                            dark
                            small
                            color="#c8553d"
                            @click="removeDetail(index)"
                          >
                            <v-icon dark> mdi-minus </v-icon>
                          </v-btn>
                        </v-col>
                      </v-row>
                      <v-btn
                        block
                        v-if="total != 0"
                        color="#f28f3b"
                        class="font-weight-black subtitle-1"
                        @click="done()"
                      >
                        Vender
                      </v-btn>
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
              </v-container>
            </v-list>
            <v-divider></v-divider>
          </v-card-text>
        </v-card>
        .
      </v-dialog>
    </v-row>
    <sale-confirm
      :dialogConfirm="confirmDialog"
      :detail="detail"
      @close="confirmDialog = false"
    ></sale-confirm>
  </div>
</template>

<script>
// import axios from "axios";
export default {
  components: {
    fieldProduct: () => import("@/components/fields/Products"),
    saleConfirm: () => import("@/components/forms/confirmSale"),
  },
  props: {
    dialog: { type: Boolean, required: true },
  },
  data() {
    return {
      dataDetail: {},
      confirmDialog: false,
      detail: "",
      loading: false,
      saleDetail: [],
      product: null,
      qut: null,
      sub: null,
      total: 0,
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    displayDetail(value) {
      this.saleDetail = value;
    },
    removeDetail(index) {
      this.saleDetail.splice(index, 1);
    },
    done() {
      this.saleDetail.total = this.total;
      this.confirmDialog = true;
      this.detail = this.saleDetail;
      this.dialog = false;
    },
  },
  mounted() {
    this.displayDetail();
  },
  watch: {
    saleDetail: function () {
      this.total = 0;
      this.saleDetail.forEach((item) => {
        this.total += parseFloat(item.subtotal);
      });
    },
  },
};
</script>